.btn.store-btn,
.btn.store-btn.fill-style:hover{
	border-color: #aefcfd;
}

.btn.store-btn:hover,
.btn.store-btn.fill-style{
	color: #0dc5ad;
}

.btn.store-btn:hover svg, 
.btn.store-btn:hover svg path,
.btn.store-btn.fill-style svg,
.btn.store-btn.fill-style svg path{
    fill: #0dc5ad;
}

.btn:hover,
.pricing-footer a:hover,
.btn.fill-style{
    background-color: #0dc5ad;
    border-color: #0dc5ad;
}

.icon-box-icon i,
.icon-box.awf-item .icon-box-icon i{
    background-image: -moz-linear-gradient(360deg, #3249d6 0%, #0dc5ad 100%);
    background-image: -webkit-linear-gradient(360deg, #3249d6 0%, #0dc5ad 100%);
    background-image: -ms-linear-gradient(360deg, #3249d6 0%, #0dc5ad 100%);
    background-image: linear-gradient(360deg, #3249d6 0%, #0dc5ad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-sec .overlay{
	background: -moz-linear-gradient( 90deg, rgb(50,73,214) 0%, rgb(13,197,173) 100%);
	background: -webkit-linear-gradient( 90deg, rgb(50,73,214) 0%, rgb(13,197,173) 100%);
	background: -ms-linear-gradient( 90deg, rgb(50,73,214) 0%, rgb(13,197,173) 100%);
	background: linear-gradient( 90deg, rgb(50,73,214) 0%, rgb(13,197,173) 100%);
}

.video-play-btn a{
	background: -webkit-linear-gradient( -140deg, rgb(36,228,203) 0%, rgb(10,186,163) 100%);
	background: -ms-linear-gradient( -140deg, rgb(36,228,203) 0%, rgb(10,186,163) 100%);
	background: linear-gradient( -140deg, rgb(36,228,203) 0%, rgb(10,186,163) 100%);
}

.pricing-body ul li i.icon_check{
	color: #0dc5ad;
}

.pricing-badge .badge-name{
	background-color: #0dc5ad;
}

.pricing-badge .badge-name:after{
	border-top-color: #0dc5ad;
	border-bottom-color: #0dc5ad;
}

.s-title::after {
    background: -webkit-linear-gradient(left, rgb(50,73,214) 0%,rgb(13,197,173) 100%);
    background: linear-gradient(to right, rgb(50,73,214) 0%,rgb(13,197,173) 100%);
}

.testimonial-btn-next:hover, 
.testimonial-btn-prev:hover{
	border-color: #0dc5ad;
	background-color: #0dc5ad;
}

.blog-post .post-title a:hover,
.blog-post .post-meta a:hover,
.f-nav li a:hover,
.f-newsletter .input-group-btn button:hover,
.navbar.sticky-nav .navbar-nav li a:hover, 
.navbar.sticky-nav .navbar-nav li a.active,
.f-widget .f-list li a:hover,
.social-profile li a:hover{
    color: #0dc5ad;
}

.copyright a{
    color: #fff;
}

.navbar.sticky-nav .navbar-nav li a.nav-link-scroll::after, 
.navbar.sticky-nav .navbar-nav li a.nav-link-scroll::before {
    background-color: #0dc5ad;
}

.scroll-top{
	background: -webkit-linear-gradient(50deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
    background: linear-gradient(50deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
}


.m-s-input:before{
	background: -webkit-linear-gradient( -90deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
    background: linear-gradient( -90deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
}

.btn,
.btn.fill-style:hover{
	color: #99a1af;
	border-color: #99a1af
}
body .t-left>.content {
    box-shadow: 0px 10px 30px 0px rgb(0 12 31 / 8%);
    padding: 20px 30px;
    background-color: white;
    background-image: linear-gradient( 
90deg
, rgb(127 42 150) 0%, rgb(222 7 138) 100%);
    position: relative;
    border-radius: 6px;
}
body .t-right>.content {
    box-shadow: 0px 10px 30px 0px rgb(0 12 31 / 8%);
    padding: 20px 30px;
    background-color: white;
    background-image: linear-gradient( 
90deg
, rgb(216 10 139) 0%, rgb(80 31 111) 100%);
    position: relative;
    border-radius: 6px;
    border: 2px solid #fff;
}
body {
    background: #f3dcff !important;
}
body .home-4-banner {
    background: -webkit-linear-gradient(
50deg
, rgb(75 22 95) 0%, rgb(129 43 152) 100%);
    background: linear-gradient(
50deg
, rgb(54 24 89) 0%, rgb(117 18 107) 100%);
}

body .btn:hover, 

body .pricing-footer a:hover,

body .btn.fill-style {
    background-color: #dd078a;
    border-color: #74278d;
    border: 2px solid #5a2178 !important;
}
body .h4-get-the-app .overlay {
    opacity: .95;
    background: -moz-linear-gradient(-90deg, rgb(50,73,214) 0%, rgb(13,197,173) 100%);
    background: -webkit-linear-gradient(
-90deg
, rgb(131 41 149) 0%, rgb(215 10 139) 100%);
    background: -ms-linear-gradient(-90deg, rgb(50,73,214) 0%, rgb(13,197,173) 100%);
    background: linear-gradient(
-90deg
, rgb(130 41 150) 0%, rgb(215 10 139) 100%);
}

body .footer.style-3 {
 
    background: -moz-linear-gradient( 40deg, rgb(50,73,214) 0%, rgb(13,197,173) 100%);
    background: -webkit-linear-gradient( 
40deg
, rgb(185 21 143) 0%, rgb(135 40 150) 100%);
    background: linear-gradient( 
40deg
, rgb(224 6 138) 0%, rgb(128 42 151) 100%);
}
i.fa.fa-telegram,
i.fa.fa-twitter,
i.fa.fa-envelope{
      color: #4f1e6e;
}
p {
    color: #db0789;
}
.nav-search.order-2.order-lg-3 a {
    background: #ea058d !important;
}
